@charset "UTF-8";

/* .list-group-item-warning{
	background-color: white;
 	 color: black;
 	 border: 2px solid #FFEEBA;
} */

.select{
	text-align: right;
	list-style: off;
	font-size: 15px;
}
::marker {
	list-style: off;
	color:white;
    unicode-bidi: isolate;
    font-variant-numeric: tabular-nums;
    text-transform: none;
    text-indent: 0px !important;
    text-align: start !important;
    text-align-last: start !important;
}

#search{
	width:500px;
}

.btn-success{
	background-color: white;
 	 color: black;
 	 border: 2px solid #e7e7e7;
}

h2{

	text-align: center;
}

.page-link{
	border: 0px;
	
}

.pagination {
  display: inline-block;
}

.pagination a {
  color: black;
  float: left;
  padding: 8px 16px;
  text-decoration: none;
}

.pagination a.active {
  background-color: #4CAF50;
  color: white;
}

.pagination a:hover:not(.active) {background-color: #ddd;}
