@charset "UTF-8";

/*
.wrap-in {
	position: absolute;
	top: 50%;
	left: 50%;
	width: 580px;
	height: 400px;
	margin-left: -150px;
	margin-top: -80px;
}



.wrap {
	width:1000px;
    height:500px;
    position:absolute;
    left:50%;
    top:50%;
    margin-left:-150px;
    margin-top:-150px;
}
*/

.form {
	width: 600px;
}