@charset "UTF-8";

h2{
	width:100%;
	text-align: center;
	margin-top: 30px;
	color: black;
}

.hrList{
	width:170px;
	border-top : 3px solid black;
	text-align: center;
}
.hrShort{
	width:60px;
	border-top : 2px solid black;
}

.subTitle{
	height:65px;
	margin-top: 50px;
	margin-right: 65%;
	font-size: 14px;
	color: gray;
}

h6{
	text-align: center;
	font-size: 14px;
	color:gray;
}

.brick-section-container{
	margin-top:50px;
	text-align: center;
}

.modal-dialog .modal-xl{
	width:70%;
	text-align: center;
	
}

.modal-category{
	text-align: center;
}

.modal-content{
	text-align: center;
}

h5{
	width:100%;
	text-align: center;
}

.modal-header{
	text-align:center;
}

#modal-category{
	margin-top: 20px;
	font-size: 11px;
	color: rgb(151, 0, 0);
	font-weight: bold;
	
}

#modal-title{
	font-weight: bold;
	font-size: 22px;
	color: black;
}

.brick-section{
	width:510px;
}

#imgList{
/* 	padding-right: 0px;
	padding-left: 0px; */
	padding-bottom: 15px;
	position:relative;
}

.subText{
	padding: 5px,10px;
	background-color: rgba(0,0,0,0.5);
	text-align:center;
	position: absolute;
	top:75%;
	right:5%;
	
	
}


.titleText{
	font-size: 16px;
	padding-left: 8px;
	padding-right: 8px;
	color: white;
	margin:0px;
	text-align: right;
	
}

.titleSub{
	font-size: 11px;
	padding-left: 8px;
	padding-right: 8px;
		color: white;
	margin:0px;
	text-align: right;
}

.modal-footer{
	text-align: center;
}