@charset "UTF-8";

/* join form css */
.r1 {
	color: red;
	}

	
	
	
 .gradient-btn1 {
	 display: inline-block;
	 padding: 1em 1.2em;
	 height: 38px;
	 border-radius: .25rem;
	 color: #4d638c;
	 font-weight: bold;
	 font-size: 0.678rem;
	 letter-spacing: 2px;
	 text-transform: uppercase;
	 text-decoration: none;
	 background: linear-gradient(to right, rgba(77, 99, 140, 0) 25%, rgba(77, 99, 140, .8) 75%);
	 background-position: 1% 50%;
	 background-size: 400% 300%;
	 border: 1px solid  #4d638c ;
	 transition: 700ms cubic-bezier(0.165, 0.84, 0.44, 1);
}
 .gradient-btn1:hover {
	 transition: 400ms cubic-bezier(0.165, 0.84, 0.44, 1);
}
 .gradient-btn1:hover {
	 color: white;
	 color: #fff;
	 background-position: 99% 50%;
}
 
	
	
.mail {
	width: 376px;
	display: inline;
}


