@charset "UTF-8";

.mypage-point {
	font-size: 22px;
	color: #4d638c;
}

.info-ul {
	width: 280px;
	height: 66px;
	padding-bottom: 42px;
	margin: 0 20px;
	text-align: left;
	float:left;
}

.float-frame {
	/*background-color: #eee; */
	width: 960px;
	height: 152px;
	padding-top: 30px;
	overflow: hidden;
	margin: 0 76px;
}

.info-content {
	padding-bottom: 30px;
}

.info-label {
	font-size: 14px;
	color: #4d638c;
}


.info {
	/* background-color: red; */
	width: 240px;
	height: 23.8px;
}


.info-box {
	/* background-color: yellow; */
	width: 240px;
	height: 66px;
	padding-bottom: 42px;
	margin: 0 40px;
	text-align: left;
	float:left;

}





#title {
    box-sizing: border-box;
    width: 100%;
    padding: 50px 0 60px;
}


#hole, #page-loading, #title-container, #title-nav, .bulletin .text h2, .bulletin .text-wrapper, .news .text h2, .news .text-wrapper {
    text-align: center;
}


#title-container .text-title {
    height: 65px;
    width: 100%;
    overflow: visible;
    margin: -17px auto 0;
    font-size: 3.1em;
}
*, .mdl-data-table td, .mdl-data-table th, .mdl-radio, .mdl-textfield, :after, :before {
    box-sizing: border-box;
}

div {
    display: block;
}

.text-line {
	width: 230px;
	height: 3px;
	background-color: black;
	margin: 0 auto;

}

