@charset "UTF-8";



/* Modal */

.productModal{
	overflow:auto;
}

.modal-title{
	line-height: 1.2em;
	height: 1.2em; 
	width:100%;
	padding-bottom: 20px; 
	display: block; 
	color: rgb(0, 0, 0); 
	font-size: 30px; 
	font-weight: 700; 
	letter-spacing: normal; 
	text-align: center;
	margin:3%;
}

.modal-dialog{
	 width:60%;
}


/* select page */



.thumbnailHere{
	width:40%;
	padding-bottom: 3%;
	overflow:hidden;
	float:left;
	margin-left:5%;
	margin-top:5%;
}

.preContentsHere{
	display:inline-block;
	margin-left:2%;
	margin-top:5%;
	width:500px;
	height:420px;
}

.titleAgainHere{
	font-size: 20px; 
	font-weight: 700;
	margin-bottom:1%;
	border-bottom: #dfdfdf 1px solid;
	padding-bottom: 1%;
	display:inline-block;
	width: 70%;
}

.subtitleHere{
	margin-top:1%;
	color:#737373;
}

.includesInfo{
	font-size: 12px;
	margin-top:1%;
	margin-left:1%;
	color:#737373;
}


.includesHere{
	font-size: 12px;
	margin-top: 1%;
	list-style: none;
	color:#737373;
}

.includesList{
	list-style: none;
}

.optionsHere{
	margin-top: 2%;
	margin-bottom: 2%;
	font-size: 14px;
}

.optionTable{
	border-collapse: separate;
	border-spacing: 15px 0;
}


.optPrice{
	font-weight:bold;
	padding-right:5%;
}

.optInfo{
	color:#737373;
}

.grindsHere{
	font-size: 14px;
}

.grindOpt{
	font-size: 14px;
}

.quantitiesHere{
	font-size: 14px;
}

.quantityOpt{
	font-size: 14px;
}

.noticeHere{
	border:1px dotted #dfdfdf;
	padding:3%;
	margin:5%;
}

.contentsHere{
	margin:5%;
}



.item-section{
	padding: 20px 30px; 
	position: relative; 
	border-top: 1px solid rgb(194, 194, 194);
}

.row{
	margin-left: -4px; 
	margin-right: -4px;
}

.det-title{
	padding-left: 4px; 
	padding-right: 4px;
	width: 138px; 
	font-weight: 700; 
	font-size: 13px;
}

.det-contents{
	padding-left: 4px; 
	padding-right: 4px; 
	width: 689.984px;
	font-size: 13px;
}

.detailsList{
	list-style: none; 
	position: relative; 
	padding-left: 10px;
	line-height: 180%;
	margin: 0;
}

#goCart {
	margin: 300px auto;
	text-align: center;
}

#cartMessage{
	margin: 20px auto;
	height: 70px;
	line-height: 20px;
	font-size: 16px;
}

.cartModal-btn{
	cursor:pointer;
	color:#4d638c;
	margin-bottom: 20px;
	font-weight: bold;
}

 .orders-btn {
	 display: inline-block;
	 width:100px;
	 padding: 3px 0 5px 0;
	 margin: 0 10px;
	 border-radius: 0;
	 color: #4d638c;
	 font-weight: bold;
	 font-size: 18px;
	 letter-spacing: 2px;
	 text-transform: uppercase;
	 text-decoration: none;
	 text-align: center;
	 position: relative;
	 cursor: pointer;
}
 .orders-btn:hover {
	 color: #4d638c;
}
 .orders-btn:hover:before {
	 transform: none;
	 opacity: 1;
	 transition-duration: 0.4s;
}
 .orders-btn:before {
	 content: "";
	 position: absolute;
	 width: 100%;
	 height: 2px;
	 left: 0;
	 bottom: 0px;
	 background: #4d638c;
	 transform: translateY(6px);
	 opacity: 0;
	 transition: 1.8s cubic-bezier(0.2, 1, 0.3, 1);
	 pointer-events: none;
}


 .admin-btn {
	 display: inline-block;
	 padding: 3px 0 5px 0;
	 border-radius: 0;
	 color: #4d638c;
	 font-weight: bold;
	 font-size: 14px;
	 letter-spacing: 2px;
	 text-transform: uppercase;
	 text-decoration: none;
	 position: relative;
	 margin: 0 3px;
	 cursor: pointer;
}

 .admin-btn:hover {
	 color: #4d638c;
}

 .admin-btn:hover:before {
	 transform: none;
	 opacity: 1;
	 transition-duration: 0.4s;
}

 .admin-btn:before {
	 content: "";
	 position: absolute;
	 width: 100%;
	 height: 2px;
	 left: 0;
	 bottom: 0px;
	 background: #4d638c;
	 transform: translateY(6px);
	 opacity: 0;
	 transition: 1.8s cubic-bezier(0.2, 1, 0.3, 1);
	 pointer-events: none;
}

 .toTop-btn {
	 display: inline-block;
	 padding: 3px 0 5px 0;
	 border-radius: 0;
	 color: #4d638c;
	 font-weight: bold;
	 font-size: 16px;
	 letter-spacing: 2px;
	 text-transform: uppercase;
	 text-decoration: none;
	 position: relative;
	 margin: 15px auto;
	 cursor: pointer;
}
 .toTop-btn:hover {
	 color: #4d638c;
}
 .toTop-btn:hover:before {
	 transform: none;
	 opacity: 1;
	 transition-duration: 0.4s;
}
 .toTop-btn:before {
	 content: "";
	 position: absolute;
	 width: 100%;
	 height: 2px;
	 left: 0;
	 bottom: 0px;
	 background: #4d638c;
	 transform: translateY(6px);
	 opacity: 0;
	 transition: 1.8s cubic-bezier(0.2, 1, 0.3, 1);
	 pointer-events: none;
}

