@charset "UTF-8";

.PassBox{
	height:500px;
	text-align: center;
}

.textP{
	margin-top: 230px;
	text-align: center;
	font-size: 14px;
	
}
#pw{
	text-align: center;
	margin-top: 5px;
	
	border-right:0px;
	border-left: 0px;
	
	border-top: 1pt groove gray;
	border-bottom: 1pt groove gray;
	input:focus ;
	outline:none;
	
	width: 200px;
}

#password{
	width:100%;
}

#submit{
	margin-top:7px;
	background-color: white;
	border: none;
	font-size: 14px;
}