<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
    
<mapper namespace ="com.bb.bean.board.faq.FaqDAO">

<select id="getList" resultType="FaqDTO" parameterType="Pager">
select * from
	(select rownum R, N.* from
		(select * from faq where
			<choose>
				<when test="kind == 'Category'">
					category
				</when>
				<when test="kind == 'Title'">
					title
				</when>
				<otherwise>
					contents
				</otherwise>
			</choose>
		like '%'||#{search}||'%' and num >0 order by num desc)N)
	where R between #{startRow} and #{lastRow}
</select>
	
<select id="getTotalCount" resultType="long" parameterType="Pager">
	select count(num) from faq
	where
	<choose>
		<when test="kind == 'Category'">
			category
		</when>
		<when test="kind == 'Title'">
			title
		</when>
		<otherwise>
			contents
		</otherwise>
	</choose>
	like '%'||#{search}||'%'and num >0
</select>

<select id="getSelect" parameterType="BoardDTO" resultType="FaqDTO">
select * from faq where num=#{num}
</select>

<insert id="setInsert" parameterType="BoardDTO">
insert into faq values(faq_seq.nextval,#{title},#{contents},#{category},#{writer})
</insert>

<update id="setUpdate" parameterType="BoardDTO">
update faq set title=#{title},contents=#{contents},category=#{category} where num=#{num}
</update>

<delete id="setDelete" parameterType="BoardDTO">
delete faq where num=#{num}
</delete>

</mapper>