<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
    
<!-- 바로 쓸 경우가 아니면 mapper는 미리 쓰지 말고 비워주세용 -->

<mapper namespace ="com.bb.bean.member.MemberDAO">


	<select id="memberIdCheck" parameterType="MemberDTO" resultType="MemberDTO">
		select id from member where id=#{id}
	</select>

	<insert id="memberJoin" parameterType="MemberDTO"> 
		insert into member (id, pw, name, birthday, nickname, gender, point, tel, postcode, addr, addr2) 
		values (#{id},#{pw},#{name},#{birthday},#{nickname},#{gender},0,null,0,null,null)
	</insert>
	
	<select id="memberLogin" parameterType="MemberDTO" resultType="MemberDTO">
		select * from member where id=#{id} and pw=#{pw}
	</select>
	
	<update id="memberUpdate" parameterType="MemberDTO">
		update member set pw=#{pw}, name=#{name}, birthday=#{birthday}, nickname=#{nickname}, gender=#{gender}, tel=#{tel} where id=#{id}
	</update>
	
	<delete id="memberDelete" parameterType="MemberDTO">
		delete member where id=#{id}
	</delete>
	
	
</mapper>