<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace ="com.bb.bean.options.OptionsDAO">

	<insert id="setInsert" parameterType="OptionsDTO">
		insert into options (num, productNum, type, grind, price, discountRate, stock)
		values (options_seq.nextval, #{productNum}, #{type}, #{grind}, #{price}, #{discountRate}, #{stock})
	</insert>

	<update id="setUpdate" parameterType="OptionsDTO">
		update options set type=#{type}, grind=#{grind}, price=#{price}, discountRate=#{discountRate}, stock=#{stock} where num=#{num}
	</update>
	
	<delete id="setDelete" parameterType="OptionsDTO">
		delete options where num=#{num}
	</delete>
</mapper>