<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
    
<mapper namespace ="com.bb.bean.orderDetails.OrderDetailsDAO">

	<select id="getMemberAddr" parameterType="OrderDetailsDTO" resultMap="addrResult">
		select OD.*, O.*, M.* 
		from  OrderDetails OD left join Orders O
		on OD.orderUid = O.orderUid
		left join Member M
		on O.id = M.id
		where OD.orderUid=#{orderUid}
	</select>
	
	<resultMap type="OrderDetailsDTO" id="addrResult">
		<id property="orderUid" column="orderUid"/>
		<association property="order" javaType="OrdersDTO" resultMap="orderResult"></association>
		<association property="member" javaType="MemberDTO" resultMap="memberResult"></association>	
	</resultMap>
	
	<resultMap type="OrdersDTO" id="orderResult">
		<id property="buyerName" column="buyerName"/>
		<id property="buyerTel" column="buyerTel"/>
		<id property="buyerPostcode" column="buyerPostcode"/>
		<id property="buyerAddr" column="buyerAddr"/>
		<id property="buyerAddr2" column="buyerAddr2"/>
		<id property="message" column="message"/>
	</resultMap>
	
	<resultMap type="MemberDTO" id="memberResult">
		<id property="id" column="id"/>
		<result property="postcode" column="postcode"/>
		<result property="tel" column="tel"/>
		<result property="addr" column="addr"/>
		<result property="addr2" column="addr2"/>
	</resultMap>


	<insert id="setInsert" parameterType="OrderDetailsDTO">
		insert into orderDetails (detailNum, orderUid, orderDate, optionNum, quantity, finalPrice, grind, shippingState)
		values (orderDetails_seq.nextval, #{orderUid}, sysdate, #{optionNum}, #{quantity}, #{finalPrice}, #{grind,jdbcType=VARCHAR}, #{shippingState})
	</insert>
	
	<select id="getListbyOrderUid" parameterType="OrderDetailsDTO" resultMap="listResult">
		select OD.*, P.*, OP.*, O.*
		from OrderDetails OD
		left join Options OP
		on OD.optionNum = OP.optionNum
		left join Product P
		on OP.productNum = P.productNum
		left join Orders O
		on O.orderUid = OD.orderUid
		where OD.orderUid=#{orderUid}
	</select>
	
	<resultMap type="OrderDetailsDTO" id="listResult">
		<id property="detailNum" column="detailNum"/>
		<result property="orderUid" column="orderUid"/>
		<result property="orderDate" column="orderDate"/>
		<result property="quantity" column="quantity"/>
		<result property="finalPrice" column="finalPrice"/>
		<result property="grind" column="grind"/>
		<result property="shippingState" column="shippingState"/>
		<association property="product" javaType="ProductDTO" resultMap="productResult"/>
		<association property="option" javaType="OptionsDTO" resultMap="optionResult"/>
		<association property="order" javaType="OrdersDTO" resultMap="orderResult"></association>
	</resultMap>
	
	<resultMap type="ProductDTO" id="productResult">
		<id property="productNum" column="productNum"/>
		<result property="name" column="name"/>
		<result property="subtitle" column="subtitle"/>
	</resultMap>
	
	<resultMap type="OptionsDTO" id="optionResult">
		<id property="optionNum" column="optionNum"/>
		<result property="type" column="type"/>
	</resultMap>
	
	<resultMap type="OrdersDTO" id="orderResult">
		<id property="buyerName" column="buyerName"/>
		<id property="buyerTel" column="buyerTel"/>
		<id property="buyerPostcode" column="buyerPostcode"/>
		<id property="buyerAddr" column="buyerAddr"/>
		<id property="buyerAddr2" column="buyerAddr2"/>
		<id property="message" column="message"/>
	</resultMap>

</mapper>