<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
    

<mapper namespace ="com.bb.bean.product.ProductDAO">
	<select id="getList" resultType="ProductDTO">
		select * from product order by num desc
	</select>
	
	<select id="getSelect" parameterType="ProductDTO" resultMap="selectResult">
		select P.*, O.*
		from product P left join options O
		on P.num = O.productNum
		where P.num=#{num}
	</select>
	
	<resultMap type="ProductDTO" id="selectResult">
		<id property="num" column="num"/>
		<result property="name" column="name"/>
		<result property="category" column="category"/>
		<result property="summary" column="summary"/>
		<result property="info" column="info"/>
		<result property="cartInfo" column="cartInfo"/>
		<collection property="options" javaType="java.util.List" ofType="OptionsDTO">
			<id property="optionNum" column="optionNum"/>
			<result property="type" column="type"/>
			<result property="grind" column="grind"/>
			<result property="price" column="price"/>
			<result property="discountRate" column="discountRate"/>
			<result property="stock" column="stock"/>
		</collection>
	</resultMap>
	
	<insert id="setInsert" parameterType="ProductDTO">
		insert into product (num, name, category, summary, info, cartInfo) values
		(product_seq.nextval, #{name}, #{category}, #{summary}, #{info}, #{cartInfo})
	</insert>
	
	<update id="setUpdate" parameterType="ProductDTO">
		update product set name=#{name}, category=#{category}, summary=#{summary}, info=#{info}, cartInfo=#{cartInfo} where num=#{num}
	</update>
	
	<delete id="setDelete" parameterType="ProductDTO">
		delete product where num=#{num}
	</delete>
</mapper>