<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
    
<mapper namespace ="com.bb.bean.board.qna.QnaDAO">

<select id="getList" resultType="QnaDTO" parameterType="Pager">
select * from
(select rownum R, Q.* from
(select * from qna where
<choose>
	<when test="kind == 'Writer'">
		writer
	</when>
	<when test="kind == Contents'">
		contents
	</when>
	<otherwise>
		title
	</otherwise>
</choose>
like '%' || #{search} || '%' and num > 0
			order by ref desc, step asc) Q)
		where R between #{startRow} and #{lastRow}
</select>

<select id="getTotalCount" resultType="long" parameterType="Pager">
select count(num) from qna
where
<choose>
	<when test="kind == 'Writer'">
		writer
	</when>
	<when test="kind == Contents'">
		contents
	</when>
	<otherwise>
		title
	</otherwise>
</choose>
like '%'||#{search}||'%' and num >0
</select>

<select id="getSelect" parameterType="BoardDTO" resultType="QnaDTO">
select * from qna where num=#{num}
</select>

<insert id="setInsert" parameterType="BoardDTO">
insert into qna (num,title,contents,category,writer,regDate,hit,ref,step,depth,con) values(qna_seq.nextval,#{title},#{contents},#{category},#{writer},sysdate,0,qna_seq.currval,0,0,0)
</insert>

<update id="setUpdate" parameterType="BoardDTO">
update qna set title=#{title},contents=#{contents},category=#{category} where num=#{num}
</update>

<delete id="setDelete" parameterType="BoardDTO">
delete qna where num=#{num}
</delete>

<update id="setHitUpdate" parameterType="BoardDTO">
update qna set hit=hit+1 where num=#{num}

</update>

<insert id="setReply" parameterType="QnaDTO">
insert into qna (num,title,contents,category,writer,regDate,hit,ref,step,depth,con) values(qna_seq.nextval,#{title},#{contents},#{category},#{writer},sysdate,0,#{ref},#{step},#{depth},#{con})
</insert>

<update id="setReplyUpdate" parameterType="QnaDTO">
update qna set step=step+1 where ref=#{ref} and step > #{step}
</update>


<!-- <update id="setStatusUpdate" parameterType="QnaDTO">
update qna set status=#{status} where ref=(select ref from qna group by ref having count(ref) >1)
</update> -->

</mapper>